form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
}

input,
select {
  margin-top: 4px;
  width: 100%;
  padding: 12px;
  border-radius: 0.25rem;
  display: inline-block;
  border: 1px solid #ccc;
}

.form-group.inline {
  grid-column: 1 / -1;
  gap: 1rem;
}

.form-group.inline label {
  width: 100%;
}
